h1 {
    font-family: fantasy;
    font-size: 65px;
}
ul {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
li button {
    visibility: hidden;
}
li:hover button {
    visibility: visible;
}
.list-group-item button i {
  color: rgb(180, 180, 180);  /* or use any red hex like #ff0000 */
}
.card {
    box-shadow: 11px 14px 12px rgba(138, 138, 138, 0.25);
}
.list-group-item {
    border: 1px dotted rgb(239, 236, 241); 
    padding-bottom: 3px;
    color: rgb(76, 45, 80);
}
.text-muted {
    font-style: italic;
    font-size: 25px;
    padding-left: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
input::placeholder {
  color: #cfcfcf !important; 
}